* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0% ;
    
}

.header {
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    padding-top: 30px;
    

    
}

.header ol {
    display: flex;
    gap: 15px;
    list-style: none;
    font-family: sans-serif;
    font-size: 19px;

}

.header2 {
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
    gap: 40px;


}

.header2 div div {
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 5px;

}

.fullh {
    background-color: #1F2937;
    color: white;
}

button {
    background-color: lightblue;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

.middle img {
    border: 3px solid #3882f6;
    height: 120px;
    width: 120px;
}


.header2 img {
    height: 300px;
    
}

.header2 div {
    align-self: flex-start;
}

.image {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gray-bg {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gray-bg p {
    display: flex;
    width: 1000px;
    color: #1f2937;
    font-size: 30px;
}

.yi {
    justify-content: flex-end;
   
}

.bot {
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    border-radius: 8px;
    margin: 100px 200px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 30px;
}

.image div p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot button {
    border-radius: 8px;
    background: #3882f6;
    border: 2px solid white;
    color: white;
    padding: 8px 16px;
}

.header2 div button {
    border-radius: 8px;
    background: #3882f6;
    border: 2px solid #3882f6;;
    color: white;
    padding: 8px 16px;
}

img {
    border-radius: 8px;
}